/** index.html - css begins **/

html {
    min-width: 100%;
    min-height: 100%;
}
body {
    min-width: 100%;
    max-height: 100%;
    background-position: top center;
    margin-bottom: -40px;
    background-image: url("../images/concrete_seamless.png");
}

.my-face-size {
    height: 150px;
    width: 100px;
}
.header {
    background-color: white;
    width: 100%;
    height: 20%
}
.connect-with-me-photos-size {
    height: 50px;
    width: 50px;
}
.box-background-color {
    background: #ffffff;  
}
p, strong, a {
    color: #777777;
    width: 880px;
    line-height: 33px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin-top: 5.5px;
}
.move-up {
    margin-top: -33px;
}
p1 {
    color: #777777;
    display: inline-block;
    margin: -25px;
    margin-top: 97px;
    margin-right: 114px;
    margin-left: -110px;
    padding-left: 29px;
    width: auto;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
.move-right {
    margin-left: 110px;
}
h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-me-box {
    width: 960px;
    height: 400px;
    border: 1px solid #dddddd;
    padding: 25px;
    margin: 40px;
    margin-left: 150px;
    float: left;
}
h1 {
    margin-left: 150px;
    margin-top: 60px;
    margin-bottom: -5px;
    background: #4aaaa5;
    padding: 25px;
    color: #ffffff;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
.divOne {
    display: inline-block;
}
.me-pic-margin {
    margin-right: 10px;
}
hr {
    border: 1px solid #cccccc;
    width: 958px;
    margin-top: 30px;
    margin-bottom: -5px;
}
.line {
    border: 1px solid #cccccc;
    width: 199px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.top-line {
    border: 1px solid #cccccc;
    width: 1343px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: -10px;
}
.top-box {
    border: 40px solid #ffffff;
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -148px;
}
.bottom-line {
    border: 4px solid black;
    width: 108%;
    margin-left: -18px;
}
.copyright {
        text-align: center;
        color: white;
        font-size: 10px;
        margin-left: 185px;
}
.copyright {
    text-align: center;
    color: white;
    font-size: 10px;
    margin-left: 185px;
}
.move-down {
    margin-top: 69px;
}
#box {
    width: 104.9%;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    margin-left: -8px;
}

/** index.html - css ends **/

/** contact.html - css begins **/

.h3 {
    color: #777777;
}
.input {
    width: 99.4%;
    height: 29px;
}
.message-input-width {
    width: 99.4%;
    height: 194px;
}
.sumbit-button {
    background: #4aaaa5;
    color: #ffffff;
    width: 94px;
    padding: 11px;
    text-align: center;
}
.font {
    font-family: Arial, Helvetica, sans-serif;
}
.word-move {
    margin: 0;
}
.spacing-1 {
    padding-top: 30px;
}
#p5-margin-bottom {
    margin-bottom: 0;
}
.about-me-box-3 {
    width: 960px;
    height: 450px;
    border: 1px solid #dddddd;
    padding: 25px;
    margin: 40px;
    margin-left: 150px;
    float: left;
}
.move-down-2 {
    margin-top: 307px;
}

/** contact.html - css ends **/

/** portfolio.html - css begins **/

.cc-original {
    height: 150px;
    width: 200px;
    margin-top: 35px;
    float: left;
}
.container {
    position: relative;
    color: #ffffff;
    
}
.Hangman {
    text-align: center;
    position: absolute;
    background: #4aaaa5;
    width: 200px;
    padding-top: 13px;
    padding-bottom: 13px;
    top: 134px;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.same-row {
    display: inline-block;
}
.cc-1 {
    height: 150px;
    width: 200px;
    margin-top: 35px;
}
.cc-2 {
    height: 150px;
    width: 200px;
    margin-top: 35px;
    
}
.cc-3 {
    height: 150px;
    width: 200px;
    margin-top: 35px;
}
.cc-4 {
    height: 150px;
    width: 200px;
    margin-top: 35px;
}
#RPGGame {
    position: absolute;
    top: 0;
    right: 200px;
    display: none;
    visibility: hidden;
}
#triviaGame {
    position: absolute;
    top: 412px;
    left: 186px;
}
#rutgetsInfoWidget {
    position: relative;
    top: 192px;
    left: -177px;
}
#rockPaperScissors {
    position: relative;
    top: 380px;
    left: -612px;
}
.about-me-box-2 {
    width: 960px;
    height: 670px;
    border: 1px solid #dddddd;
    padding: 25px;
    margin: 40px;
    margin-left: 150px;
    float: left;
}
.move-up-2 {
    margin-top: -4px;
}

/** portfolio.html - css ends **/
